{% extends 'base.html' %}

{% block title_head %}
<title>Productos</title>
{% endblock title_head %}

{% block h1_header %}
Listado de Productos
{% endblock h1_header %}

{% block contenido %}
<button><a class="navbar-brand" href="{% url 'inicio:crear_producto' %}">Crear Producto</a></button>

<br>
<br>

<form action="" method="get">
    {{formulario}}
    <button>Buscar</button>
</form>

{% if productos %}
<ul>
    {% for producto in productos %}
    <li>
    
    {% comment %} <li>Nombre: {{producto.nombre}} - Precio: {{producto.precio}}</li> {% endcomment %}
    <a href="{% url 'inicio:detalle_producto' producto.id %}">{{producto.nombre}}</a>
    <button>
        <a class="navbar-brand" href="{% url 'inicio:modificar_producto' producto.id  %}">Modificar</a>
    </button>
    <button>
        <a class="navbar-brand" href="{% url 'inicio:eliminar_producto' producto.id %}">Eliminar</a>
    </button>
</li>
{% endfor %}
</ul>
{% else %}
<p>El producto solicitado no existe.</p>
{% endif %}
{% endblock contenido %}